* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.MainContainer {
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #131515;
}

.HistoryContainer {
  width: 300px;
  height: 450px;
  background-color: #1D1F20;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.HistoryRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.Red.Cell {
  color: #FF3864;
}

.Yellow.Cell {
  color: #DCF764;
}

.Number.Cell {
  width: 60px;
}

.Cell {
  width: 80px;
  text-align: center;
  color: #FFFFFF;
}

.GuessContainer {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.InputGuess {
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 0px;
  background-color: #ffffff;
}

.InputGuess:focus {
  outline: none;
}

.NewGame.GuessButton {
  width: 150px;
}

.GuessButton {
  height: 30px;
  width: 75px;
  border: none;
  border-radius: 0;
  background-color: #FF3864;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

.GuessButton:focus {
  outline: none;
}

.GuessButton:hover {
  background-color: #FF5C7F;
}

.GuessButton:active {
  background-color: #FF1F4F;
  transition: 0s;
}

.ResetButton {
  height: 30px;
  width: 75px;
  border: none;
  border-radius: 0;
  background-color: #393D3F;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

.ResetButton:focus {
  outline: none;
}

.ResetButton:hover {
  background-color: #44494B;
}

.ResetButton:active {
  background-color: #27292B;
  transition: 0s;
}


.Link {
  position: fixed;
  top: 20px;
  left: 20px;
  margin: 10px;
  padding: 10px;
  width: 225px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  text-align: center;

  background-color: #393D3F;
  transition: 0.3s;
}

.Link:hover {
  transform: scale(1.1);
  background-color: #44494B;

}